html, body {
  height: 100%;
  width: 100%;
  
  background-color: #000000;
  
}

body {
  font-family: Garamond, serif;
}

h2 {
  text-align: center;
  font-family: Garamond;
  color: #ffffff;
}

h4 {
  text-align: center;
  font-family: Garamond;
  font-style: italic;
  color: #ffffff;
}

#tweet-form {
  display: flex; 
  justify-content: center;
}

#tweet-box {
  width: 300px;
  height: 125px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #333;
  padding: 12px 20px;
  box-sizing: border-box;
  resize: none;
  font-family: inherit;
  font-size: 14px;
  color: #ffffff;
  margin: 8px 0;
}

#edit-api-button, #view-api-button, #view-drafts-button, #empty-drafts-button {
  background-color: #000000;
  border: none;
  color: #ffffff;
  padding: 8px 16px;
  border-radius: 4px;
  text-align: center;
  font-size: 12px;
  margin: 2px 1px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.4s;
  font-family: inherit;
}

#save-draft-button, #send-tweet-button {
  background-color: #000000;
  border: none;
  color: #d6c4eb;
  width: 80px;
  height: 50px;
  padding: 8px 16px;
  border-radius: 4px;
  text-align: center;
  font-size: 12px;
  margin: 2px 1px;
  opacity: 0.6;
  transition: 0.3s;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.4s;
  font-family: inherit;
}

#tweet-form div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#tweet-form {
  display: flex;
  justify-content: center;
}


#edit-api-button:hover {
  background-color: #000000;
  color: #638dff;
}
#view-api-button:hover {
  background-color: #000000;
  color: #638dff;
}

#view-drafts-button:hover {
  background-color: #000000;
  color: #638dff;
}

#empty-drafts-button:hover, .delete-draft-button:hover {
  background-color: rgb(0, 0, 0); /* additional warning b4 user clears the drafts */
  color: #ff6363;
}

#save-draft-button:hover {
  background-color: #000000;
  color: #638dff;
}

#send-tweet-button:hover {
  background-color: #000000;
  color: #638dff;
}

#send-tweet-button:disabled, #save-draft-button:disabled {
  opacity: 0.5;
  pointer-events: none;
  /*background-color: #ccc;*/
  color: #999;
  cursor: not-allowed;
}

footer {
  position: absolute;
  justify-content: center;
  top: 90%;
  left: 0;
  right: 0;
}

#edit-api-button, #view-api-button {
  float: left;
}

a {
  float: right;
}

#tweet-counter {
  float: right;
  color: #ffffff;
}

#tweet-counter-error {
  color: darkred;
}

li {
  list-style: none;
  font-family: inherit;
  font-size: 14px;
  color: #333;
  margin: 10px 0;
}

.delete-draft-button {
  background-color: #000000;
  color: #638dff;
  opacity: 0.6;
  transition: 0.3s;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.4s;
  font-family: inherit;

  border-radius: 4px;
}